<!-- ================= FOOTER FLOATEANTE ================= -->
<footer class="py-6 mt-12 mx-6 text-center bg-black/50 backdrop-blur-md text-zinc-300 rounded-full shadow-inner fade-in">
  <p class="mb-2 text-lg md:text-base">
    Sistema desarrollado por <strong>César Julio Bedoya Barragán</strong>
  </p>
  <p>
    <a href="https://orcid.org/0009-0004-4946-1374"
       target="_blank"
       rel="noopener"
       class="text-amber-400 hover:underline hover:text-rose-400 transition-colors">
      ORCID: 0009-0004-4946-1374
    </a>
  </p>

  <div class="mt-4 flex justify-center gap-4 text-sm text-zinc-400">
  <a href="privacidad.html" class="hover:text-amber-400 transition">Privacidad</a>
  <a href="cookies.html" class="hover:text-amber-400 transition">Cookies</a>
  <a href="terminos.html" class="hover:text-amber-400 transition">Términos</a>
</div>

</footer>
